{%extends "base/base.html"%}
{%block title %} LISTA TEATROS {% endblock %}

    {%block content%}
    <h3>Teatros</h3>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Nombreciudad</th>
               
            </tr>
        </thead>
        <tbody>
            {% for teatro in teatro_lista %}
            <tr>
                <td>{{teatro.id}}</td>
                <td>{{teatro.nombre}}</td>
                <td>{{teatro.nombreciudad}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {%endblock%}
