{%extends "base/base.html"%}
{%block title %} Bebidas de {{teatro.nombreciudad}} {% endblock %}


{% include "base/layout.html"%}
{%block content%}

<h3 style="color: #DF7861; margin-top: 30px;">Bebidas del teatro - {{teatro.nombre}}</h3>


<table class="table table-striped" style="width: 50%; margin: auto; margin-top: 30px ;">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Precio</th>
      </tr>
    </thead>
    <tbody>
        {% for bebida in bebidas_lista %}
      <tr>
        <td>{{bebida.nombre}}</td>
        <td>{{bebida.precio}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
<br>


{%endblock%}