{%extends "base/base.html"%}

{%block title %} Contacto {% endblock %}

{% include "base/layout.html"%}

{%block content%}
<h3>
  Contactanos
</h3>

{% from "_macro.html" import render_form %}


<div class="row">
  <div class="col-lg-4"></div>
  <div class="col-lg-4">
    <form action="/contactanos" method="POST" class="form-horizontal" novalidate >
      <div >
        {{render_form(formulario.email, class='form-control', placeholder='name@gmail.com')}}
      </div>

      <div class="form-group">
        {{render_form(formulario.nombre, class='form-control', placeholder='Mateo Carvajal')}}
      </div>

      <div class="form-group">
        {{render_form(formulario.telefono, class='form-control', placeholder='312637...')}}
      </div>


      <div class="form-group">
        {{render_form(formulario.motivo, class='form-control')}}
      </div>

      <div class="form-group">
        {{render_form(formulario.comentario, class='form-control', placeholder='Escribe ', style="height: 100px;resize: none;")}}
      </div>


      <div class="form-group">
        <div class="p-2">
          <button type="submit" name="submit" value="Elegir" class="btn btn-primary">Enviar</button>
        </div>
      </div>

    </form>
  </div>
  <div class="col-lg-4"></div>
</div>
<h1> {{error}}</h1>

{%endblock%}