{%extends "base/base.html"%}
{%block title %} Próximos estrenos de {{teatro.nombreciudad}} {% endblock %}


{% include "base/layout.html"%}
{%block content%}

<h3 style="color: #DF7861; margin-top: 30px;">Prómixas peliculas de {{teatro.nombreciudad}} - {{teatro.nombre}}</h3>


{% for pelicula in pelicula_lista_proxima %}
<div class="card" style="width: 50%; margin: auto;margin-top: 30px;">
  <a href="/peliculas-proxima/{{pelicula.idpelicula}}"><img src="{{pelicula.imagen}}" class="card-img-top" alt="{{pelicula.nombre}}"></a>
  
  <div class="card-body">
    <p class="card-text">{{pelicula.descripcion}}</p>
  </div>
</div>
<br>

{% endfor %}





{%endblock%}