{%extends "base/base.html"%}
{%block title %} Cartelera de {{teatro.nombreciudad}} {% endblock %}


{% include "base/layout.html"%}
{%block content%}

<h3 style="color: #DF7861;">Cartelera de {{teatro.nombreciudad}} - {{teatro.nombre}}</h3>



{% for pelicula in pelicula_lista_sala %}
<div class="card mb-3" style="width: 50%; margin: auto;">

  <a href="/peliculas-sala/{{pelicula.idpelicula}}" ><img src="{{pelicula.imagen}}" class="card-img-top" alt="{{pelicula.nombre}}"></a>
  
  <div class="card-body">
    <h5 class="card-title">{{pelicula.genero}}</h5>
   
  </div>
</div>

<br>
{% endfor %}



{%endblock%}