{%extends "base/base.html"%}
{%block title %} Próximos estrenos de {{teatro.nombreciudad}} {% endblock %}


{% include "base/layout.html"%}
{%block content%}

<h3 style="color: #DF7861;">Prómixas peliculas de {{teatro.nombreciudad}} - {{teatro.nombre}}</h3>


{% for pelicula in pelicula_lista_proxima %}
<div class="card" style="width: 50%; margin: auto;">
  <img src="{{pelicula.imagen}}" class="card-img-top" alt="{{pelicula.nombre}}">
  <div class="card-body">
    <p class="card-text">{{pelicula.descripcion}}</p>
  </div>
</div>
<br>

{% endfor %}





{%endblock%}