{%extends "base/base.html"%}
{%block title %} Cartelera de {{teatro.nombreciudad}} {% endblock %}


{% include "base/layout.html"%}
{%block content%}

<h3 style="color: #1363DF;">Cartelera de {{teatro.nombreciudad}} - {{teatro.nombre}}</h3>


{% for pelicula in pelicula_lista_sala %}

<div class="card bg-dark text-white" style="width: 50%; margin: auto;">
    <img src="{{pelicula.imagen}}" class="card-img" alt="{{pelicula.nombre}}" href="/peliculas-sala/{{pelicula.idpelicula}}">
    <div class="card-img-overlay">
      <h5 class="card-title">{{pelicula.nombre}}</h5>
      
    </div>
  </div>

  <br>

{% endfor %}



{%endblock%}