{%extends "base/base.html"%}
{%block title %} Pelicula - {{pelicula_sala.nombre}} {% endblock %}


{% include "base/layout.html"%}
{%block content%}

<h3 style="color: #DF7861; margin-top: 30px;">Pelicula {{pelicula_sala.nombre}} </h3>


<div class="container">
  <div class="row align-items-start">
    <div class="col">
      <div class="card" style="width: 80%; margin: auto; margin-top: 30px;">
        <h2>{{pelicula_sala.nombre}}</h2>
        <img src="{{pelicula_sala.imagen}}" class="card-img-top" alt="{{pelicula_sala.nombre}}">
        <div class="card-body">

        </div>
      </div>
      <br>
    </div>
    <div class="col" style="width: 80%; margin: auto; margin-top: 30px; text-align: center;">
      <h3>Teatro: {{teatro_asociado.nombre}}</h3>
      <div class="container">
        <div class="row shadow-lg p-3 mb-5 bg-body rounded">
          <ul class="list-group" >
            <li class="list-group-item" style="background-color: #B2C8DF;">Género: {{pelicula_sala.genero}}</li>
            <li class="list-group-item" style="background-color: #B2C8DF;">Duración: {{pelicula_sala.duracion}} minutos</li>
          </ul>
        </div>


        <div class="accordion shadow-lg p-3 mb-5 bg-body rounded" id="accordionPanelsStayOpenExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                aria-controls="panelsStayOpen-collapseOne">
                Sipnosis
              </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
              aria-labelledby="panelsStayOpen-headingOne">
              <div class="accordion-body">
                {{pelicula_sala.descripcion}}
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseTwo">
                Reparto
              </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
              aria-labelledby="panelsStayOpen-headingTwo">
              <div class="accordion-body">
                {{pelicula_sala.reparto}}
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseThree">
                Director
              </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
              aria-labelledby="panelsStayOpen-headingThree">
              <div class="accordion-body">
                {{pelicula_sala.director}}
              </div>
            </div>
          </div>
        </div>

        <div class="row ">
          
          <button type="button" class="btn btn-info btn-lg btn-block"><a href="{{pelicula_sala.trailer}}" target="_blank" style="text-decoration: none; color:white;"> Trailer</a></button>
         
        </div>
       
      </div>
    </div>

  </div>





  {%endblock%}