{%extends "base/base.html"%}
{%block title %} Servicios de {{teatro.nombreciudad}}{% endblock %}


{% include "base/layout.html"%}
{%block content%}

<h3 style="color: #DF7861;">Servicios en sala - {{teatro.nombre}}</h3>


  {% for servicio in servicios_lista %}
  <div class="card" style="width: 50%; margin: auto;">
    <img src="{{servicio.imagen}}" class="card-img-top" alt="{{servicio.nombre}}">
    <div class="card-body">
      <h5 class="card-title">{{servicio.nombre}}</h5>
      <p class="card-text">{{servicio.descripcion}}</p>
      <br>
      <h5 class="card-title">Condiciones</h5>
      <p class="card-text">{{servicio.condiciones}}</p>
      <a href="/solicitudes" class="btn btn-primary">Go solicitudes</a>
    </div>
  </div>
  <br>
  {% endfor %}
  
{%endblock%}