{%extends "base/base.html"%}
{%block title %} Servicios {% endblock %}


{% include "base/layout.html"%}
{%block content%}

<h3>Servicios en sala - {{teatro.nombre}}</h3>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Condiciones</th>
            <th>imagen</th>
            
        </tr>
    </thead>
    <tbody>
        {% for servicio in servicios_lista %}
        <tr>
            <td>{{servicio.idservicio}}</td>
            <td>{{servicio.nombre}}</td>
            <td>{{servicio.descripcion}}</td>
            <td>{{servicio.condiciones}}</td>
            <td>{{servicio.imagen}}</td>
           
        </tr>
        {% endfor %}
    </tbody>
</table>

{%endblock%}