{%extends "base/base.html"%}

{%block title %} Solicitud {% endblock %}

{% include "base/layout.html"%}

{%block content%}
<h3>
  Envía un correo
 
</h3>

<form action="/solicitudes" method="POST">

    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>

      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Name</label>
      </div>
    
      <div class="form-floating mb-3">
        <input type="number" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Phone</label>
      </div>

      <div class="form-floating mb-3">
        <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
          <option selected>Servicio</option>
          <option value="1">Solicitud de información</option>
          <option value="2">Sugerencias</option>
          <option value="3">Quejas y reclamos</option>
          <option value="3">Empleo</option>
          <option value="3">Otros</option>
        </select>
        <label for="floatingSelect">Works with selects</label>
      </div>

      <div class="form-floating mb-3">
        <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
          <option selected>Teatro</option>
          <option value="1">El Eden</option>
          <option value="2">Americano</option>
          <option value="3">El Caraño</option>
          <option value="3">Ocean mall</option>
          <option value="3">Otros</option>
        </select>
        <label for="floatingSelect">Works with selects</label>
      </div>

    <div class="form-floating mb-3">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
        <label for="floatingTextarea2">Comments</label>
      </div>
    <button type="submit" name="submit" value="Elegir" class="btn btn-primary">Enviar</button>
</form>

{%endblock%}